/* General */
.scrollbar {
	overflow: auto;
	scrollbar-color: #005500 transparent;
}

@font-face {
	font-family: 'Libertinus Serif';
	src: url('../fonts/LibertinusSerif-Regular.woff2') format('woff2'), url('../fonts/LibertinusSerif-Regular.otf') format('opentype');
}

@font-face {
	font-family: 'Libertinus Serif';
	font-weight: bold;
	src: url('../fonts/LibertinusSerif-Bold.woff2') format('woff2'), url('../fonts/LibertinusSerif-Bold.otf') format('opentype');
}

@font-face {
	font-family: 'Libertinus Serif';
	font-weight: 600;
	src: url('../fonts/LibertinusSerif-Semibold.woff2') format('woff2'), url('../fonts/LibertinusSerif-Semibold.otf') format('opentype');
}

@font-face {
	font-family: 'Libertinus Serif';
	font-style: italic;
	src: url('../fonts/LibertinusSerif-Italic.woff2') format('woff2'), url('../fonts/LibertinusSerif-Italic.otf') format('opentype');
}

@font-face {
	font-family: 'Libertinus Serif';
	font-style: italic;
	font-weight: bold;
	src: url('../fonts/LibertinusSerif-BoldItalic.woff2') format('woff2'), url('../fonts/LibertinusSerif-BoldItalic.otf') format('opentype');
}

@font-face {
	font-family: 'Libertinus Serif';
	font-style: italic;
	font-weight: 600;
	src: url('../fonts/LibertinusSerif-SemiboldItalic.woff2') format('woff2'), url('../fonts/LibertinusSerif-SemiboldItalic.otf') format('opentype');
}

@font-face {
	font-family: 'Junicode';
	src: url('../fonts/Junicode.ttf') format('truetype');
}

@font-face {
	font-family: 'Junicode';
	font-weight: bold;
	src: url('../fonts/Junicode-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Junicode';
	font-style: italic;
	src: url('../fonts/Junicode-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Junicode';
	font-style: italic;
	font-weight: bold;
	src: url('../fonts/Junicode-BoldItalic.ttf') format('truetype');
}

body {
	font-family: 'Libertinus Serif', serif;
	font-feature-settings: 'calt', 'kern', 'liga', 'onum';
	font-size: 25pt;
	font-variant-ligatures: common-ligatures;
	font-variant-numeric: oldstyle-nums;
	hyphens: none;
	-ms-hyphens: none;
	-webkit-hyphens: none;
	line-height: 1.3;
	margin: 0 12rem 0 50pt;
	padding: 8pt 0 0 0;
}

.normal_foreground_colour {
	color: #00ff00 !important;
}

.normal_background_colour {
	background-color: #000000 !important;
}

/* General paragraph styles */
.half_title {
	display: block;
	font-size: 30pt;
	text-align: center;
	white-space: nowrap;
}

.title {
	color: #ff0000;
	display: block;
	font-size: 80pt;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
}

.subtitle {
	display: block;
	font-size: 30pt;
	line-height: 0.2;
	margin: auto;
	text-align: center;
	text-align-last: justify;
	white-space: nowrap;
	width: 750px;
}

.subtitle_last_line {
	display: block;
	font-size: 30pt;
	line-height: 1.7;
	margin-left: 30%;
	margin-right: 30%;
	text-align: center;
	white-space: nowrap;
}

.title_editio {
	color: #ff0000;
	display: block;
	text-align: center;
}

.title_publisher_and_date {
	display: block;
	text-align: center;
	text-align-last: center;
}

.title_verso_editio_on_newline {
	display: block;
}

.title_verso_copyright_owner {
	display: block;
	white-space: nowrap;
}

/* On whole page with blank verso */
.heading_1 {
	font-size: 40pt;
	margin-bottom: 100px;
	margin-bottom: 0;
	margin-top: 100px;
	text-align: center;
}

/* Above text body with top margin */
.heading_2 {
	display: block;
	font-size: 30pt;
	margin: auto;
	padding-top: 50pt;
	text-align: center;
}

.heading_2_number {
	margin-top: 100px;
	text-align: center;
}

.heading_3 {
	color: #ff0000;
	font-feature-settings: 'smcp';
	font-variant: normal;
	text-align: center;
}

.heading_3_number {
	text-align: center;
}

.heading_4_pre_note {
	margin-bottom: -20pt;
	padding-bottom: 0;
	padding-top: 10pt;
}

.heading_3_alt {
	color: #00ff00;
	font-variant: normal;
	font-weight: 600;
	text-align: center;
}

.heading_3_day {
	font-variant: normal;
	font-weight: 600;
	margin-bottom: 0;
	margin-top: 50pt;
}

.heading_4 {
	font-style: italic;
}

.heading_4_post_note {
	font-style: italic;
}

.footnote {
	font-size: 20pt;
}

.footnote_reference {
	font-feature-settings: 'sups';
	font-style: normal;
}

.rubrics {
	color: #ff0000;
	font-size: 23pt;
}

/* In MR2004, it is used as table heading */
.table_caption {
	font-feature-settings: 'smcp';
	font-variant-caps: small-caps;
	text-align: center;
}

.rubrics_second_paragraph {
	margin-left: 20pt;
	margin-top: -17pt;
}

.prayer_large_bold_paragraph {
	display: block;
	font-size: 30pt;
	font-weight: 600;
	line-height: 1;
	margin: 0 0 20pt 0;
	padding-bottom: 10pt;
	padding-left: 50pt;
	padding-top: 10pt;
	white-space: nowrap;
}

.prayer_normal_paragraph {
	display: block;
	line-height: 1;
	margin: 0;
	padding: 0 10pt 0 50pt;
	white-space: nowrap;
}

.personal_title_center {
	color: #ff0000;
	display: block;
	font-style: italic;
	white-space: nowrap;
}

.alternative_reading {
	color: #ff0000;
	font-style: normal;
}

/* General character styles */
.bold {
	font-weight: 600;
}

.italics {
	font-style: italic;
}

.non_italic_font {
	font-style: normal;
}

.small_caps {
	font-feature-settings: 'smcp';
	font-variant-caps: small-caps;
}

.red_foreground_colour {
	color: #ff0000;
}

.drop_letters {
	color: #ff0000;
	float: left;
	font-size: 65pt;
	line-height: 1;
	margin: 0 0 0 0;
	padding: 0 2pt 0 1pt;
	text-indent: 0;
}

/* Other paragraph styles */
.greater_space_above_paragraph {
	padding-top: 12pt;
}

.center_text {
	text-align: center
}

.center_text_at_75_percent {
	left: 25%;
	margin: 0 auto;
	position: relative;
	text-align: center;
}

.personal_title_center_at_75_percent {
	color: #ff0000;
	display: block;
	font-style: italic;
}

.frontispiece_image {
	margin-bottom: 100px;
	margin-top: 100px;
	text-align: center;
}

.title_page_coat_of_arms_image {
	margin-bottom: 100px;
	margin-top: 100px;
	text-align: center;
}

.title_page_coat_of_arms_image_colour {
	filter: invert(52%) sepia(60%) saturate(3411%) hue-rotate(86deg) brightness(127%) contrast(115%);
}

.lunar_day_name {
	color: #ff0000;
	margin-top: 0;
}

/* Classes used for spans (usually with paragraph styles of similar name) */
.prayer_large_bold_span {
	display: block;
	white-space: nowrap;
}

.prayer_normal_span {
	display: block;
	white-space: nowrap;
}

/* Table styles */
.lunar_cycle_table_wrapper {
	border-bottom: 2px solid;
	border-top: 2px solid;
	display: table;
	font-size: 25pt;
	margin: 50pt auto 50pt auto;
	text-align: center;
	width: 700pt;
}

.lunar_cycle_table_span {
	display: table-cell;
	height: 10mm;
	max-width: 23mm;
	min-width: 23mm;
	vertical-align: middle;
}

.lunar_cycle_table_smaller_font {
	font-size: 18pt;
}

.golden_number_table_wrapper {
	border: 4px solid;
	display: table;
	font-size: 25pt;
	margin: 50pt auto 50pt auto;
	padding-top: 5pt;
	text-align: center;
	width: 1000pt;
}

.golden_number_table_inner_border {
	border-bottom: 4px solid;
}

.golden_number_table_span {
	display: table-cell;
	height: 10mm;
	max-width: 30mm;
	min-width: 30mm;
	vertical-align: middle;
}

.golden_number_table_header_column_span {
	display: table-cell;
	font-style: italic;
	font-weight: normal;
	height: 10mm;
	max-width: 43mm;
	min-width: 43mm;
	text-align: left;
	vertical-align: middle;
}

.temporary_table_wrapper {
	border: 4px solid;
	border-collapse: collapse;
	font-size: 25pt;
	margin: 50pt auto 50pt auto;
	overflow-wrap: normal;
	text-align: center;
	width: 900pt;
}

.temporary_table_row {
	display: table-row;
}

.temporary_table_header_cell {
	border-bottom: 4px solid;
	border-left: none;
	border-right: 2px solid;
	border-top: none;
	display: table-cell;
	font-size: 20pt;
	font-style: italic;
	height: 10mm;
	min-height: 30mm;
	min-width: 30mm;
	padding-left: 10pt;
	padding-right: 10pt;
	vertical-align: middle;
}

.temporary_table_cell {
	border-bottom: none;
	border-left: none;
	border-right: 2px solid #00ff00;
	border-top: none;
	display: table-cell;
	font-size: 25pt;
	height: 10mm;
	min-height: 30mm;
	min-width: 30mm;
	padding-left: 10pt;
	padding-right: 10pt;
	vertical-align: middle;
}

.lunar_cycle_table_day_wrapper {
	border-bottom: 2px solid;
	border-top: 2px solid;
	display: table;
	font-size: 25pt;
	font-weight: 600;
	margin: 50pt auto 50pt auto;
	table-layout: fixed;
	text-align: center;
	width: 100%;
}

.lunar_cycle_table_day_19_span {
	display: table-cell;
	height: 10mm;
	vertical-align: middle;
	width: 40pt;
}

.lunar_cycle_table_day_12_span {
	display: table-cell;
	height: 10mm;
	vertical-align: middle;
	width: 60pt;
}

.border_none_bottom {
	border-bottom: none;
}

.border_none_left {
	border-left: none;
}

.border_none_right {
	border-right: none;
}

.border_none_top {
	border-top: none;
}

.border_thick_bottom {
	border-bottom: 4px solid;
}

.border_thick_left {
	border-left: 4px solid;
}

.border_thick_right {
	border-right: 4px solid #00ff00;
}

.border_thick_top {
	border-top: 4px solid;
}

.border_thin_bottom {
	border-bottom: 2px solid;
}

.border_thin_left {
	border-left: 2px solid;
}

.border_thin_right {
	border-right: 2px solid;
}

.border_thin_top {
	border-top: 2px solid;
}

/* Special actions */
.hide_header {
	display: none;
	visibility: hidden;
}

/* TODO: This does not fully work, because there is still a newline (looking as a break) between the merged paragraphs.*/
.prepend_to_next_paragraph {  /* It is used to combine the first paragraph of a page to the last paragraph of the previous page */
	margin-bottom: 0;
	padding-bottom: 0;
}

/* TODO: This does not fully work, because there is still a newline (looking as a break) between the merged paragraphs.*/
.append_to_previous_paragraph {  /* It is used to combine the first paragraph of a page to the last paragraph of the previous page */
	margin-top: 0;
	padding-top: 0;
}

.reduce_indent_one_digit {
	margin-left: -1em;
}

.reduce_indent_two_digits {
	margin-left: -1.5em;
}

.reduce_indent_eulogies {
	margin-left: 1.2em;
}

.hamburger {
	border-radius: 50%;
	box-sizing: border-box;
	cursor: pointer;
	height: 3rem;
	position: fixed;
	right: 1rem;
	top: 1rem;
	width: 3rem;
	z-index: 100;
}

.hamburger_colour {
	background-color: #181818;
	border: #00ff00 solid 2px;
}

.hamburgerId {
	cursor: pointer;
	height: 24px;
	margin-left: 9px;
	outline: none;
	position: relative;
	width: 27px;
	z-index: 100;
}

.hamburgerId span {
	display: block;
	height: 2px;
	opacity: 1;
	position: absolute;
	transform: rotate(0deg);
	transition: 0.5s ease-in-out;
	width: 18px;
}

.hamburgerId_colour span {
	background: #00ff00;
}

.hamburgerId span:nth-child(1) {
	top: 5.75px;
	transform-origin: left center;
}

.hamburgerId span:nth-child(2) {
	top: 10.75px;
	transform-origin: left center;
}

.hamburgerId span:nth-child(3) {
	top: 15.75px;
	transform-origin: left center;
}

.hamburgerId.close span:nth-child(1) {
	transform: translate(2px, 0px) rotate(45deg);
}

.hamburgerId.close span:nth-child(2) {
	opacity: 0;
	transition: 0.1s;
	width: 0;
}

.hamburgerId.close span:nth-child(3) {
	transform: translate(2px, 2px) rotate(-45deg);
}

.menu {
	border-radius: 8px;
	bottom: 0;
	box-shadow: 0 4px 4px -2px;
	float: right;
	height: 100%;
	margin: 0;
	overflow: auto;
	position: fixed;
	right: 0;
	top: 0;
	transform: translateX(200%);
	transition: transform 0.2s;
	width: 20%;
}

.menu_colour {
	background: #181818;
	border-left: 4pt solid #383838;
}

.menu_margin_top {
	height: 5rem;
}

.showMenu {
	transform: translateX(0);
}

a.menu_link:link, a.menu_link:visited {
	display: inline;
	text-decoration: none;
}

a.menu_link:hover {
	text-decoration: underline;
}

a.menu_link_colour:link, a.menu_link_colour:visited {
	color: #00ff00;
}

a.menu_link_colour:hover {
	color: #ff00ff;
}

.paragraph_padding {
	margin-bottom: 0;
	margin-top: 0;
	padding-bottom: 12pt;
	padding-left: 0.35em;
	padding-top: 0;
}

.paragraph_padding_last {
	margin-bottom: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0.35em;
	padding-top: 0;
}

.paragraph_padding_days {
	margin: 0;
	padding: 0;
	text-align: right;
	width: 34pt;
}

.theme_toggle {
	border-radius: 45px;
	box-sizing: border-box;
	cursor: pointer;
	height: 3rem;
	overflow: hidden;
	padding: 5px;
	position: fixed;
	right: 5rem;
	top: 1rem;
	transition: all 0.3s cubic-bezier(0.6, -0.28, .735, 0.045);
	width: 6rem;
	z-index: 100;
}

.theme_toggle_colour {
	background-color: #000000;
	border: 2px solid #00ff00;
}

.circle {
	border-radius: 50%;
	box-sizing: border-box;
	display: inline-block;
	position: absolute;
}

.small {
	height: 63%;
	left: 19%;
	top: 5%;
	transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
	width: 30%;
}

.small_colour {
	background: #000000;
}

.large {
	height: 90%;
	left: 7%;
	top: 50%;
	transform: translateY(-50%);
	transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
	width: 42%;
}

.large_colour {
	background: #00ff00;
	border: 3% solid #00ff00;
}

.theme_toggle input {
	cursor: pointer;
	height: 100%;
	left: 0;
	margin: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}

.move {
	background-color: #e7e7e7;
}

.move .large {
	background: yellow;
	border: 3px solid orange;
	left: 50%;
}

.move .small {
	background-color: #ffffff;
	left: 100%;
	top: 100%;
}

/* Black on white theme overrides */
.black_theme.normal_foreground_colour {
	color: #000000 !important;
}

.black_theme.normal_background_colour {
	background-color: #ffffff !important;
}

.black_theme.heading_3_alt {
	color: #000000;
	font-variant: normal;
	font-weight: 600;
	text-align: center;
}

.black_theme.temporary_table_cell {
	border-bottom: none;
	border-left: none;
	border-right: 2px solid #000000;
	border-top: none;
	display: table-cell;
	font-size: 25pt;
	height: 10mm;
	min-height: 30mm;
	min-width: 30mm;
	padding-left: 10pt;
	padding-right: 10pt;
	vertical-align: middle;
}

.black_theme.border_thick_right {
	border-right: 4px solid #000000;
}

.black_theme.hamburger_colour {
	background-color: #e7e7e7;
	border: #000000 solid 2px;
}

.black_theme.hamburgerId_colour span {
	background: #000000;
}

.black_theme.menu_colour {
	background: #e7e7e7;
	border-left: 4pt solid #c7c7c7;
}

a.black_theme.menu_link_colour:link, a.black_theme.menu_link_colour:visited {
	color: #000000 !important;
}

a.black_theme.menu_link_colour:hover {
	color: #3300ff !important;
}

.black_theme.menu_section_label_colour, .black_theme.menu_subsection_label_colour {
	background: #e7e7e7;
	border: 2pt transparent solid;
}

.black_theme.menu_section_label_colour:hover, .black_theme.menu_subsection_label_colour:hover {
	background: #d7d7d7;
	border: 2pt #000000 solid;
}

.black_theme.menu_section_content_colour, .black_theme.menu_subsection_content_colour {
	background: #e7e7e7;
}

input:checked + .black_theme.menu_section_label_colour, input:checked + .black_theme.menu_subsection_label_colour {
	background: #e7e7e7;
	border: 2pt #3300ff solid;
}

input:checked ~ .black_theme.menu_section_content_colour, input:checked ~ .black_theme.menu_subsection_content_colour {
	border: 2pt #3300ff solid;
	border-bottom-color: #3300aa;
}

.black_theme.scrollbar {
	overflow: auto;
	scrollbar-color: #282828 transparent;
}

.black_theme.theme_toggle_colour {
	background-color: #e7e7e7;
	border: 2px solid #000000;
}

.black_theme.small_colour {
	background: #000000;
}

.black_theme.large_colour {
	background: #ffff00;
	border: 3% solid #ffffff;
}

.black_theme.title_page_coat_of_arms_image_colour {
	filter: unset;
}

/* Hamburger menu content (TOC) */

/* Common */

.menu_section_input {
	opacity: 0;
	position: absolute;
	z-index: -1;
}

.menu_section_input:checked ~ .menu_section_content, .menu_section_input:checked ~ .menu_subsection_content {
	display: block;
}

input:checked ~ .menu_section_content_colour, input:checked ~ .menu_subsection_content_colour {
	border: 2pt #ff00ff solid;
	border-bottom-color: #aa00aa;
}

input:checked + .menu_section_label_colour, input:checked + .menu_subsection_label_colour {
	background: #181818;
	border: 2pt #ff00ff solid;
}

input:checked + .menu_section_label::after, input:checked + .menu_subsection_label::after {
	transform: rotate(90deg);
}

input:checked ~ .menu_section_content, input:checked ~ .menu_subsection_content {
	border-bottom-width: 4pt;
	margin-bottom: 5pt;
	max-height: 100%;
	padding: 1em;
}

input:checked ~ .menu_section_content_colour, input:checked ~ .menu_subsection_content_colour {
	border: 2pt #ff00ff solid;
	border-bottom-color: #aa00aa;
}

/* Section */

.menu_section {
	overflow: hidden;
	width: 100%;
	z-index: 100;
}

.menu_section_label {
	cursor: pointer;
	display: flex;
	font-weight: bold;
	justify-content: space-between;
	padding: 0.25em;
	position: relative;
}

.menu_section_label::after {
	content: '❯';
	position: fixed;
	right: 7pt;
	text-align: center;
	transition: all 0.35s;
	width: 1em;
}

.menu_section_label_no_content {
	display: flex;
	font-weight: bold;
	justify-content: space-between;
	padding: 0.25em;
}

.menu_section_label_colour {
	background: #181818;
	border: 2pt transparent solid;
}

.menu_section_label_colour:hover {
	background: #282828;
	border: 2pt #00ff00 solid;
}

.menu_section_content {
	display: none;
	max-height: 0;
	padding: 0 1em;
}

.menu_section_content_colour {
	background: #181818;
}

.menu_section_content_mr_months {
	overflow-y: auto;
}

.menu_subsection_content_days {
	columns: 5;
	overflow-y: auto;
}

.menu_section_content_name_index {
	columns: 3;
	overflow-y: auto;
}

input:checked ~ .menu_section_content {
	border-bottom-width: 4pt;
	display: block;
	margin-bottom: 5pt;
	margin-left: 0;
	max-height: 100%;
	padding: 0.5em;
}

/* Subsection */

.menu_subsection_label {
	cursor: pointer;
	display: flex;
	font-weight: bold;
	justify-content: space-between;
	padding: 0.25em;
	position: relative;
}

.menu_subsection_label::after {
	content: '❯';
	right: 0.6em;
	text-align: center;
	transition: all 0.35s;
	width: 1em;
}

.menu_subsection_label_colour {
	background: #181818;
	border: 2pt transparent solid;
}

.menu_subsection_label_colour:hover {
	background: #282828;
	border: 2pt #00ff00 solid;
}

.menu_subsection_content {
	display: none;
	max-height: 0;
	padding: 0 1em;
}

.menu_subsection_content_colour {
	background: #181818;
}

input:checked ~ .menu_subsection_content {
	border-bottom-width: 4pt;
	display: block;
	margin-left: 0;
	max-height: 100%;
	padding: 0.5em 1.5em 0.5em 0;
}